{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Equity</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add" name="_add">
    <input type="submit" value="Delete" name="_delete">
</body>
</html>